@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('/bg-grainy.png') !important;
    background-repeat: no-repeat !important;
    background-size:cover !important;
    color: white !important;
    margin-top: 8rem !important;
    padding:0 0.5rem !important;
}